.langs {
    grid-column: 1/3;
    width: 594px;
    height: 149px;
    display: grid;
    place-items: center;
    padding: 60px 40px 60px 40px;
    border: 2px solid rgb(38, 38, 38);
    border-radius: 14px;
    background: linear-gradient(90deg, rgba(230, 62, 33, 0.45702030812324934) 61%, rgba(27, 27, 27, 1) 98%);

    & h2 {
        color: rgb(192, 192, 192);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
}