.git {
    grid-column: 2/3;
    width: 286px;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 32px 60px 40px;
    border: 2px solid rgb(38, 38, 38);
    border-radius: 14px;
    background: linear-gradient(90deg, rgba(230, 62, 33, 0.45702030812324934) 12%, rgba(27, 27, 27, 1) 52%);
    position: relative;


    & h2 {
        color: rgb(192, 192, 192);
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
}