.footer {
    max-width: 1440px;
    max-height: 731px;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    padding: 45px;
    box-sizing: border-box;
    border-radius: 14px;
    background: linear-gradient(15.52deg, rgba(230, 62, 33, 0.2) 12.515%, rgba(51, 19, 14, 0) 23.485%), rgb(27, 27, 27);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -2px;
        /* Adjust based on the desired stroke width */
        left: -2px;
        /* Adjust based on the desired stroke width */
        right: -2px;
        /* Adjust based on the desired stroke width */
        bottom: -2px;
        /* Adjust based on the desired stroke width */
        z-index: -1;
        background: linear-gradient(15.52deg, rgba(230, 62, 33, 0.7) 12.515%, rgba(51, 19, 14, 0) 23.485%), rgb(38, 38, 38);
        border-radius: 14px;
    }

    &__title {
        color: rgb(192, 192, 192);
        font-family: "Inter";
        font-size: 24px;
        font-weight: 500;
        line-height: 29px;
    }
    &__list{
        display: flex;
        gap: 12px;
        min-width: 300px;
        justify-content: space-between;
    }
    &__link {
        color: rgb(253, 253, 253);
        font-family: "Inter";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        position: relative;


        &:hover {
            transform: scale(1.1);
            display: block;
            color: #f35034;
            z-index: 1; 
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}